svg {
  border:1px solid #333;
  background: #fff;
}

.example {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

svg .domain {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

svg .tick line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.marker {
  fill:lightblue;
  stroke:black;
  stroke-width: 1px;
}

.marker.none {
  fill:#fff !important;
  stroke-width:1px;
}

.marker:hover {
  stroke-width:2px;
}
